@page "/"

<PageTitle>RoutePlanner</PageTitle>

<div class="logo-container">
	<img class="logo" src="img/Logo.png" alt="Oceanic Airlines Logo" style="width: 50%;">
</div>

<p>
	Welcome to Oceanic World Air. 
	<br/>
	Under <strong>Book Shipment</strong>, you can easily book a shipment by entering the city you want to ship from and ship to, the weight class as well as freight type.
	Thereafter, click the search button to find available shipment options.
</p>

<h4>Important Shipment Guidelines</h4>
<p>
	When shipping items using our service, it's essential to adhere to certain guidelines to ensure safe and lawful transportation. Please take note of the following:
</p>
<ul>
	<li><strong>Prohibited Items:</strong> Certain items are strictly prohibited from shipment. This includes illegal substances, hazardous materials, and items restricted by local, national, or international regulations.</li>
	<li><strong>Legal Compliance:</strong> Ensure all shipped items comply with local and international laws and regulations. It is your responsibility as a shipper to verify and adhere to these guidelines.</li>
	<li><strong>Freight Type Declaration:</strong> When selecting a freight type (e.g., Weapons, Refrigerated goods, Fragile), please ensure accurate declaration. Misrepresentation or omission of freight type can lead to delays or penalties.</li>
	<li><strong>Safe Packaging:</strong> Properly package your items to prevent damage during transit. Fragile items should be securely padded, and hazardous materials should be appropriately labeled and packaged according to regulations.</li>
	<li><strong>Booking Confirmation:</strong> By booking a shipment, you confirm that you have read and understood these guidelines. Any violations may result in cancellation of service and legal consequences.</li>
</ul>
<p>
	We strive to provide a reliable and compliant shipping service. Your cooperation in adhering to these guidelines ensures a smooth shipping experience for all parties involved.
</p>

<AuthorizeView>
    <span class="alert alert-success"><span class="oi oi-lock-locked" aria-hidden="true"></span> This content requires authentication. You are logged in as @context.User.Identity?.Name</span>
</AuthorizeView>