@page "/reports"

<PageTitle>Reports</PageTitle>

<h1>Reports</h1>
<p>
	This page shows all sales that have been made by the selected sales person.
</p>
<ListSalesPeople></ListSalesPeople>
<ListView Type="Reports"></ListView>